# Byte-compiled / optimized / DLL files 
__pycache__/
*.py[cod]
*$.py.class

# Distribution / packages
.Python
*egg-info/
wheels/
*.egg

# Mac-specific
.DS_Store

# Outputs
examples/**/*.vtp
examples/**/*.out
examples/**/*.json