# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$.py.class

# Distribution / packages
.Python
*egg-info/
wheels/
*.egg

# Mac-specific
.DS_Store

# lib files
lib/*[.so,.dll,.dylib]
# Outputs
examples/**/*.vtp
examples/**/*[.bts, .sum]
examples/**/*[.out,.outb,.dbg,.dbg2]
examples/**/*.json